<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/common.css" />
    <script type="text/javascript" src="/common.js"></script>
    <style>
        a.btn { float: right; margin-top: -40px; }
    </style>
</head>
<!-- common.js에 let div = document.getElementsByClassName("pagination")[0]; 를 불러오는 것 -->
<!--<body onload="pagination()">-->
<body>
<div class="container">
    <h1>학생목록</h1>
    <!--<a href="create" class="btn">학생등록</a>-->
    <a th:href="${ 'create?' + pagination.queryString }" class="btn">학생등록</a>
    <table class="list">
        <thead>
        <tr>
            <th>id</th>
            <th>학번</th>
            <th>이름</th>
            <th>학과</th>
            <th>전화</th>
            <th>성별</th>
            <th>이메일</th>
        </tr>
        </thead>
        <tbody>
<!--        <tr th:each="st : ${ students }"-->
<!--            th:href="${ 'edit?id=' + st.id }"-->
<!--            onclick="onClickHref(event)">-->
        <tr th:each="st : ${ students }"
            th:href="${ 'edit?id=' + st.id + '&' + pagination.queryString }"
            onclick="onClickHref(event)">
            <td th:text="${ st.id }"></td>
            <td th:text="${ st.studentNo }"></td>
            <td th:text="${ st.name }"></td>
            <td th:text="${ st.departmentName }"></td>
            <td th:text="${ st.phone }"></td>
            <td th:text="${ st.sex }"></td>
            <td th:text="${ st.email }"></td>
        </tr>
        </tbody>
    </table>
<!--    <div class="pagination" th:data-record-count="${pagination.recordCount}"-->
<!--         th:data-page-size="${pagination.sz}" th:data-current-page="${pagination.pg}"></div>-->
    <!-- student폴더 밖에있는 fragments.html 불러와서 씀 -->
    <div th:replace="~{fragments::pagination}"></div>


    <!-- 아래 코드를 밖으로 빼서 여러곳에서 재사용 -->
    <!--
    <table class="pagination">
        <tr>
            <td th:each="page : ${ pagination.pages }" th:class="${ page.active ? 'active' : '' }">
                <a th:href="${ page.url }" th:text="${ page.label }"></a>
            </td>
        </tr>
    </table>
    -->
</div>
</body>
</html>

